<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tigerknows" android:installLocation="auto"
      android:versionName="5.10.20130528A" android:versionCode="510">
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
      <uses-permission android:name="android.permission.INTERNET" /> 
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
      <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />  
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
      <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
      
    <application android:name="com.tigerknows.android.app.TKApplication" android:icon="@drawable/icon" android:label="@string/app_name"
        android:theme="@style/Theme.NoTitleBar.Fullscreen" android:debuggable="true" android:allowBackup="false">
        <provider android:name="com.tigerknows.provider.TigerknowsProvider"
            android:authorities="com.tigerknows.provider.Tigerknows" />
        
        <activity
            android:theme="@style/Launcher" 
            android:name="com.tigerknows.LauncherActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MAPS" />
            </intent-filter>
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="geo"></data>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="latitude"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="http"
                    android:host="maps.tigerknows.com"
                    android:pathPrefix="/"
                    >
                </data>
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="tigerknows"
                    >
                </data>
            </intent-filter>
        </activity>
        
        <activity android:name="com.tigerknows.Sphinx"
            android:theme="@style/Sphinx" 
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        
        <service android:name="com.tigerknows.service.LocationService" android:enabled="true"></service>
        
        <service android:name="com.tigerknows.service.SuggestLexiconService" android:enabled="true"></service>
        
        <service android:name="com.tigerknows.service.MapStatsService" android:enabled="true"></service>
        
        <service android:name="com.tigerknows.service.MapDownloadService" android:enabled="true"></service>
        
        <service android:name="com.tigerknows.service.download.DownloadService" android:enabled="true"></service>
        
        <activity android:name="com.tigerknows.GuideScreenActivity"
            android:theme="@style/GuideScreen" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.more.AboutUsActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.more.AppRecommendActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.poi.POIReportErrorActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.more.SatisfyRateActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.more.FeedbackActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustPan|stateVisible"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.more.ChangeCityActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.more.SettingActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.poi.EditCommentActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.more.MapDownloadActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.poi.CommentListActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.traffic.TrafficReportErrorActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />

        <activity android:name="com.tigerknows.ui.traffic.TrafficCompassActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait" />
                
		<!-- User Module -->
        <activity android:name="com.tigerknows.ui.user.UserHomeActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.user.UserLoginRegistActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.user.UserResetPasswordActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait" />
         
        <activity android:name="com.tigerknows.ui.user.UserUpdateNickNameActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait" />
         
        <activity android:name="com.tigerknows.ui.user.UserUpdatePasswordActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait" />
         
        <activity android:name="com.tigerknows.ui.user.UserUpdatePhoneActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait" />
         
        <activity android:name="com.tigerknows.ui.common.HintActivity"
            android:theme="@style/Hit" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
         
        <activity android:name="com.tigerknows.ui.common.BrowserActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
         
        <activity android:name="com.tigerknows.ui.discover.ShangjiaListActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
         
        <activity android:name="com.tigerknows.ui.more.AddMerchantActivity"
            android:theme="@style/AddMerchant" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
         
        <activity android:name="com.tigerknows.ui.poi.DishActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.common.ViewImageActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.hotel.HotelIntroActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.common.TakeScreenshotActivity"
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.tigerknows.ui.common.AddPictureActivity"
            android:theme="@style/Transparent" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <!-- User Module -->
        
        <activity android:name="com.tigerknows.share.WeiboSendActivity" 
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden" 
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait" />
        <activity android:name="com.tigerknows.share.QZoneSendActivity" 
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden" 
            android:windowSoftInputMode="adjustPan|stateVisible"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.tauth.TAuthView" 
            android:theme="@style/TAuthView" 
            android:configChanges="keyboardHidden|navigation|orientation"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" >
            <intent-filter>  
                <action android:name="android.intent.action.VIEW" />  
                <category android:name="android.intent.category.DEFAULT" />  
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent500000002"/>
            </intent-filter>  
        </activity>
        

		<activity android:name="com.tigerknows.ui.common.ExceptionDialogActivity" 
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />

        <receiver android:name="com.tigerknows.radar.AlarmInitReceiver">
            <intent-filter>
                <action android:name="action.com.tigerknows.first.startup" />
                <action android:name="com.tigerknows.action.AlarmInit" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.tigerknows.radar.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.tigerknows.radar.TimeAdjustReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.tigerknows.radar.ConnectivityChangeReceiver">
            <intent-filter>
               <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.tigerknows.radar.RadarReceiver">
            <intent-filter>
               <action android:name="action.com.tigerknows.radar.PullReceiver" />
            </intent-filter>
        </receiver>
        
        <service android:name="com.tigerknows.service.PullService">
        </service>
        
        <service android:name="com.tigerknows.service.AlarmService">
        </service>
        
        <activity android:name="com.tigerknows.ui.alarm.AlarmShowActivity"
            android:theme="@style/Hit" 
            android:launchMode="singleTask"
            android:label="@string/alarm"
            android:taskAffinity="com.tigerknows.ui.alarm.AlarmShowActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        
        <activity
            android:theme="@style/Theme.NoTitleBar" 
            android:launchMode="singleTop"
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sdksample"/>
            </intent-filter>
        </activity>

        <meta-data android:name="TD_APP_ID" android:value="01311C44FE74E468F73E72C43CD1B60D"/>
        <!--老虎宝典测试 68DDE7CB7E1AC79BA446D291FFAB79B0 -->
        <!--老虎宝典 01311C44FE74E468F73E72C43CD1B60D -->
        <meta-data android:name="TD_CHANNEL_ID" android:value="TigerMapTest"/>
        <!-- TigerMapTest tieshusai jiangzhenzhen lidaobei edeni dongjuan peiguojuan liujiahe liuhaijing zhaihuihui -->
    </application>
    <supports-screens android:anyDensity="true" android:resizeable="true" android:normalScreens="true" android:largeScreens="true" android:smallScreens="true"></supports-screens>
    <uses-sdk android:minSdkVersion="5" />

</manifest> 
