[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/crystalharp
[access "refs/for/refs/*"]
	read = group user/crystalharp
	push = group user/crystalharp
	label-Code-Review = -2..+2 group user/crystalharp
	label-Verified = -1..+1 group user/crystalharp
	rebase = group user/crystalharp
	removeReviewer = group user/crystalharp
	submit = group user/crystalharp
[access "refs/heads/*"]
	read = group user/crystalharp
	create = group user/crystalharp
	push = +force group user/crystalharp
	pushMerge = group user/crystalharp
[access "refs/tags/*"]
	push = +force group user/crystalharp
	pushTag = group user/crystalharp
	pushSignedTag = group user/crystalharp
